.screen1,
.screen2 {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.screen1 {
  justify-content: center;
  margin-bottom: 50px;
}

.screen2 {
  margin-bottom: 100px;
  width: 500px;
}

.screen2__user {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 45%;
  align-items: center;
  justify-content: flex-end;
}

.screen2__todolist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 55%;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.showing {
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@media screen and (max-width: 1600px) {
  .bgImage {
    width: 1600px;
  }
}
