.form,
.greetings {
  display: none;
}

.js-form {
  margin-top: 30px;
}

.js-greetings {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.js-toDoForm {
  margin-bottom: 20px;
}

.js-toDoList {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.js-toDoList li {
  display: flex;
  align-items: flex-start;
  width: 400px;
  color: white;
  font-size: 18px;
  line-height: 1.4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 10px;
}

.js-toDoList li > button {
  margin-right: 20px;
}

.js-toDoList li > span {
  word-break: break-all;
}
