.form,
.greetings {
  display: none;
}

.js-form {
  margin-top: 30px;
}

.js-greetings {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
}

.js-toDoForm {
  margin-bottom: 20px;
}

.js-toDoList {
  flex-direction: column;
  align-items: center;
}

.js-toDoList li {
  width: 300px;
}

.js-toDoList li > button {
  margin-right: 20px;
  margin-bottom: 10px;
}
